<div class="search px-2 border-end">
    <a asp-controller="Home" asp-action="Search" class="btn btn-link p-0 shadow-none text-decoration-none">
        <span><i class="fa-light fa-magnifying-glass"></i>&ensp;Search</span>
    </a>
</div>