<meta http-equiv="refresh" content="5; url= @Url.Action("Login", "Account")">
<div class="container-xxl m-auto text-center">
    <div class="row">
        <div class="col"> <img src="~/content/images/checkout/login.png" class="img-fluid" alt=""></div>
    </div>
    <p class="alert alert-warning text--subfont">Please <a asp-controller="Account" asp-action="Login" class="text--subfont text-decoration-none">login</a> first</p>
    @* <br>
    <a class="text-center text-decoration-none border p-3" asp-controller="home" asp-action="index"><span class="text--subfont">Click here to continue...</span></a> *@
</div>
