@model UserModel
@{

}
<div class="container-xxl m-auto row row-cols-1 row-cols-lg-2">
    <div class="col">
        <img src="~/content/images/user/changeemail.jpg" class="img-fluid" alt="">
    </div>
    <div class="col m-auto p-5">
        <img src="~/content/images/layout/logo-burgelo.svg" alt="">
        <h5 class="fw-normal my-3 pb-3" style="letter-spacing: 1px;">Edit email</h5>
        <form asp-controller="account" asp-action="changeemailconfirm" method="post">
            @if (@TempData["message"] != null)
            {
                <partial name="_DangerMessage"></partial>
                @* <div class="alert alert-danger">
                    @TempData["message"]
                </div> *@
            }
            <div class="form-outline mb-4" hidden>
                <label asp-for="UserId" class="form-label"></label>
                <input asp-for="UserId" class="form-control text--subfont" readonly>
                <span asp-validation-for="UserId" class="text text-danger d-block m-2"></span>
            </div>
            <div class="form-outline mb-4">
                <label asp-for="Email" class="form-label"></label>
                <input asp-for="Email" class="form-control text--subfont" required>
                <span asp-validation-for="Email" class="text text-danger d-block m-2"></span>
            </div>
            <div class="container d-flex justify-content-center">
                <button type="submit" class="btn btn--yellow btn-block me-2">Confirm</button>
                <a asp-controller="account" asp-action="userinfo" class="btn btn--dark btn--hover btn-block ms-2">Cancel</a>
            </div>
        </form>
    </div>

</div>
