@{
}
<meta http-equiv="refresh" content="3; url= @Url.Action("Login", "Account")">
<div class="container-xxl m-auto text-center mt-5">
     <div class="row">
        <div class="col"> <img src="~/content/images/user/register_success.png" class="img-fluid" alt=""></div>
    </div>
    <p class="alert alert-success text--subfont">Congratulations, your account has been successfully created.</p>
    @* <br>
    <a class="text-center text-decoration-none border p-3" asp-controller="home" asp-action="index"><span class="text--subfont">Click here to continue...</span></a> *@
</div>
