@{
    ViewData["Title"] = "Xóa Database";
}
<h1>@ViewData["Title"]</h1>
<p class="alert alert-danger">Chắc chắn xóa</p>
<form method="post">
    <button type="submit" class="btn btn-danger">Xóa Db</button>
    <hr>
    <a asp-action="index" class="btn btn-primary">Quay lại</a>
</form>