@{
    ViewData["Title"] = "Delete Database";
}
<h1>@ViewData["Title"]</h1>
<p class="alert alert-danger">Delete Database?</p>
<form method="post">
    <button type="submit" class="btn btn-danger">Delete Db</button>
    <hr>
    <a asp-action="index" class="btn btn-warning">Cancel</a>
</form>