<div class="dropdown">
    <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown"
        aria-expanded="false">
        Menu
    </button>
    <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
        <li><a class="dropdown-item" asp-area="Database" asp-controller="DbManage" asp-action="Index">Database Manage</a></li>
        <li><a class="dropdown-item" asp-area="MailUltis" asp-controller="MailUltis" asp-action="Index">Mail Ultis</a></li>
        <li><a class="dropdown-item" asp-controller="home" asp-action="Index">Home</a></li>
    </ul>
</div>