@{
    Layout = "_Layout";
}

@RenderBody()
</div>
<div class="col-lg-4 col-md-6 col-12 position-sticky">
    <div class="evelator position-sticky">
        <div class="d-flex flex-column">
            <div class="eve_items d-flex align-items-center mb-2" id="eve_burgers">
                <img src="~/content/images/home/evelator/Frame.svg" alt="">
                <h2><a asp-controller="menu" asp-action="burgers" class="menu__link">BURGERS</a></h2>
            </div>
            <div class="eve_items d-flex align-items-center mb-2" id="eve_pizza">
                <img src="~/content/images/home/evelator/Frame-1.svg" alt="">
                <h2><a href="">PIZZA</a></h2>
            </div>
            <div class="eve_items d-flex align-items-center mb-2" id="eve_drinks">
                <img src="~/content/images/home/evelator/Group-1.svg" alt="">
                <h2><a href="">DRINKS</a></h2>
            </div>
            <div class="eve_items d-flex align-items-center mb-2" id="eve_pasta">
                <img src="~/content/images/home/evelator/Frame-2.svg" alt="">
                <h2><a href="">PASTA</a></h2>
            </div>
            <div class="eve_items d-flex align-items-center mb-2" id="eve_soup">
                <img src="~/content/images/home/evelator/Frame-3.svg" alt="">
                <h2><a href="">SOUP</a></h2>
            </div>
            <div class="eve_items d-flex align-items-center mb-2" id="eve_sushi">
                <img src="~/content/images/home/evelator/Group-2.svg" alt="">
                <h2><a href="">SUSHI</a></h2>
            </div>
        </div>
        <div class="free_drink d-flex flex-column position-relative align-items-center">
            <img src="~/content/images/coffe.png" alt="">
            <img class="position-absolute free" src="~/content/images/free.png" alt="">
            <h2 class="ps-4 mt-5">DRINK</h2>
            <p>When Ordering From $80</p>
            <a class="rounded-pill btn__a btn--dark btn--hoverlight" href="">
                <span>ORDER NOW</span>
            </a>
        </div>
    </div>
</div>
</div>
