<meta http-equiv="refresh" content="5; url= @Url.Action("Index", "Order")">
<div class="container-xxl m-auto text-center">
    <div class="row">
        <div class="col"> <img src="~/content/images/checkout/order_confirm.png" class="img-fluid" alt=""></div>
    </div>
    <p class="alert alert-success text--subfont">Your order has been placed</p>
    @* <br>
    <a class="text-center text-decoration-none border p-3" asp-controller="home" asp-action="index"><span class="text--subfont">Click here to continue...</span></a> *@
</div>